.lista-filmes{
    max-width: 800p;
    margin:14px auto;
    display:flex;
}

.loading{
    display:flex;
    justify-content: center;
    align-items: center;
}

.lista-filmes article{
    width: 100%;
    background-color:white;
    padding: 10px;
    border-radius: 3px;
}

/* .lista-filmes strong{
    margin-bottom:14px;
    text-align:center;
    font-size:22px; */
    /* display:flex; */
    /* display:block
} */


.lista-filmes img{
    width:10em;
    max-width:100%; 
    max-height:340px;
    object-fit: contain;
    background-color: black;
    object-fit:cover;
    display:block;
}

.lista-filmes a{
    display:flex;
    align-items:center;
    justify-content: center;
    padding:10px 0;
    font-size: 24px;
    background-color:red;
    text-decoration: none;
    color:#FFF;
}